/*rem  vw  vh 100%*/
@font-face {
    font-family: 'iconfont';  /* project id 607332 */
    src: url('http://at.alicdn.com/t/font_607332_fyzvnpd6sfm3g14i.eot');
    src: url('http://at.alicdn.com/t/font_607332_fyzvnpd6sfm3g14i.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_607332_fyzvnpd6sfm3g14i.woff') format('woff'),
    url('http://at.alicdn.com/t/font_607332_fyzvnpd6sfm3g14i.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_607332_fyzvnpd6sfm3g14i.svg#iconfont') format('svg');
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #ccc;
}
.swiper-container {
    width: 100vw;
    height: 30vh;
}

.swiper-slide {
    font-size: 30px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.type {
    width: 100%;
    height: 10vh;
}

.project, .done {
    width: 50%;
    height: 10vh;
    float: left;
    text-align: center;
    line-height: 10vh;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    background: #333;
}

.project.active {
    background: red;
}

.done.active {
    background: #33f;
}

.content {
    width: 100vw;
    height: 50vh;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.content ul {
    width: 100vw;
    height: auto;
}

.content ul li {
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    border-bottom:1px solid #ccc;
    position: relative;
}

.itemlist li p {
    width: 60vw;
    height: 8vh;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left:12px;
}

.itemlist li time {
    width: 30vw;
    height: 8vh;
    float: left;
    line-height: 4vh;
    font-size: 12px;
}

.itemlist li span {
    width: 10vw;
    height: 8vh;
    text-align: center;
    float: left;
    font-family: iconfont;
    font-size: 16px;

}
.itemlist li span.active{
   color:red;
}
.itemlist li div{
    width:20vw;
    height:8vh;
    background:red;
    color:#fff;
    text-align: center;
    line-height: 8vh;
    position: absolute;
    right:-20vw;
    top:0;
}
.add {
    width: 100vw;
    height: 10vh;
    background: #ffb423;
    text-align: center;
    line-height: 10vh;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
}
.mask{
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.67);
    position: absolute;
    left:0;
    top:0;
    z-index:999;
    display: none;
}
.inputarea{
  width:100vw;
  height:62vh;
  transform:translateY(-62vh);
}
#text{
    width:100vw;
    height:40vh;
    border:none;
    resize: none;
    padding:10vw;
    font-size: 16px;
    display: block;
}
.submit,.update{
    width:100vw;
    height:10vh;
    background:#f33;
    text-align: center;
    line-height: 10vh;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
}
.update{
    display: none;
}
.cancel{
    width:6vh;
    height:6vh;
    margin:3vh auto;
    border:1px solid #fff;
    text-align: center;
    line-height:6vh;
    color:#fff;
    font-size:18px;
    border-radius: 50%;
}
